@model PreCompiledLibrary.Models.TestModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
@if (Model.IsTrue)
{
    <div id="mainBody">
        Test
    </div>
}
</body>
</html>
